<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Set a timeout to disable the button after 10 seconds
            setTimeout(function () {
                $('#msg').hide();
            }, 5000); // 10 seconds in milliseconds

            $('.numericInput').keypress(function (event) {
                // Allow only numbers (0-9) and the backspace key (keyCode 8)
                if (event.which != 8 && (event.which < 48 || event.which > 57)) {
                    event.preventDefault(); // Prevent the default action (typing)
                }
            });
        });
    </script>
</head>
<body>
    <header class="fixed-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hospital Management</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    @Html.Partial("_MenuPartial")


                </div>
            </div>
        </nav>
    </header>
    <!-- Scrollable body -->
    <div class="scrollable-body">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div> 
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - HospitalManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
